.page-content-container {
    max-width: 900px;
    /* Ajuste conforme necessário para o seu layout */
    margin-left: auto;
    margin-right: auto;
}

.paper-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.paper-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.paper-title {
    font-size: 1.25rem;
    /* Tamanho um pouco maior para o título do artigo */
    color: #333;
}

/* Se você tiver um cabeçalho específico para a seção de artigos dentro do Papers.tsx */
.papers-section-header {
    font-size: 2rem;
    color: #2c3e50;
    /* Cor um pouco mais escura para o cabeçalho da seção */
    border-bottom: 2px solid #3498db;
    /* Linha azul abaixo do título */
    padding-bottom: 10px;
    margin-bottom: 30px;
    /* Mais espaço abaixo do título da seção */
}

.paper-abstract {
    font-size: 0.9rem;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .paper-card {
        margin-bottom: 1rem;
    }

    .paper-title {
        font-size: 1.1rem;
    }
}
